# Revisão de Banco de Dados

## Olá

<div><img src="https://media.makeameme.org/created/hi-hello-1af89a2b70.jpg" width=200 style="float:left"></div>

- Sou o Teo
- Atualmente na Health Catalyst - empresa americana líder em dados e analytics para organizações de saúde
- Engenheiro de dados certificado Azure
- Trabalho com SQL há 20 anos: Call Center, financeiras, mineradoras, logística, serviços e saúde

### Ementa


- Intro ao SQL
- Tipos de banco de dados
    - Relacionais
    - Não relacionais (NoSQL - Not Only SQL):
        - Chave Valor
        - Grafos
        <img src="https://abcloudz.com/wp-content/uploads/2021/01/NoSQL.png?x96491" width=400>
- Consultando dados em uma tabela:
    - DISTINCT, AS, CASE WHEN...THEN
    - WHERE, AND, OR, NOT, NULL
    - IN, BETWEEN, LIKE, wildcards
    - ORDER BY, LIMIT
- Funções agregadoras
    - MIN, MAX
    - COUNT, SUM, AVG
    - GROUP BY, HAVING
- Consultando dados em multiplas tabelas:
    - INNER JOIN
    - LEFT JOIN
    - RIGHT JOIN
    - FULL JOIN
    - UNION
- Criar/editar/deletar databases e schemas
- Criar/editar/deletar tabelas
- Chaves primárias, estrangeiras
- INSERT, UPDATE, DELETE
- VIEW
- Integração com Python
    - Queries com PSYCOPG e PANDAS
    - SQL + PANDAS

### Exercício de revisão

- Baixar no class o arquivo Banco de Dados.rar. No arquivo existem dois arquivos com extensão .tar: DVDRENTAL e EXERCICIOS. Criar um banco de dados para cada e executar o restore
- Coloquei o nome do banco de dados antes do nome da coluna em algumas questões, por ex: dvdrental.rental. Se foi criado o banco com outro nome - basta colocar o nome que criou

#### Exercícios

1 - Escreva uma query identificando o tipo de cada linha da tabela **TRIANGULOS** usando o tamanho dos seus tres lados. Coloque como saida o seguinte texto para cada linha:
- Equilátero: Um triângulo com os 3 lados de mesmo tamanho
- Isósceles: Um triângulo com dois lados de mesmo tamanho
- Escaleno: Um triângulo com os três lados diferentes
- Não é um triângulo: Os valores de A, B e C não formam um triângulo (a soma de dois lados não é maior que o terceiro)

A tabela **TRIANGULOS** está descrito abaixo:

| Coluna | Tipo |
| ------ | ---- |
| A      | Inteiro |
| B      | Inteiro |
| C      | Inteiro |

Cada linha na tabela possui o tamanho de cada lado do triângulo:

**Exemplo**:

| A | B | C |
| ------ | ---- | ----- |
| 20 | 20 | 23 |
| 20 | 20 | 20 |
| 20 | 21 | 22 |
| 13 | 14 | 30 |

**Exemplo do Resultado**

| Resultado |
| -------- |
| Isósceles |
| Equilátero |
| Escaleno |
| Não é um triângulo |

**Explicação**

Valor na tupla (20,20,23) formam um triângulo Isósceles, pois A = B
Valor na tupla (20,20,20) formam um triângulo Equilátero, pois A = B = C
Valor na tupla (20,21,22) formam um triângulo Escaleno, pois A <> B <> C
Valor na tupla (13,14,30) não formam um triângulo pois o valor somado de A e B não é maior que C

2 - Utilizando a base **exercicios.flavours** contar a quantidade de registros por categoria, exceto nulos

3 - Usando a mesma query acima, o resultado deverá ser no seguinte formato: "A categoria [nome da categoria] possui [registros] "

4 - Utilizando a tabela **dvdrental.rental** mostrar os 10 clientes que mais fizeram locações

5 - Utilizando a tabela dvdrental.rental, calcular o maior tempo, em dias, em que um filme ficou alugado

6 - Quantos atores possuem o último nome "Cage"?

7 - Em **dvdrental.Address** mostrar o endereço e cep dos distritos do *Texas* e *Alberta*

8 - Em **dvdrental.customer** calcule a quantidade de clientes ativos e inativos

9 - Em **dvdrental.address** liste os distritos que começam com vogais (a, e, i, o, u). A cidade não poderá aparecer mais de uma vez no resultado

10 - Em **dvdrental.payment** qual o valor total gasto por cliente, ano e mês (o resultado agrupado desses três)?