1. Exercício 1 do class

---

In [43]:
import pandas as pd

2) É importante para o nosso cliente saber quando a média de preço (AveragePrice) foi maior que um. Use a função apply para criar uma coluna que nos traz essa informação e salve o arquivo em excel.

In [47]:
df_avocado = pd.read_csv('./dados/avocado.csv')
df_avtype = pd.read_csv('./dados/avocado_type.csv')

df_avocado.head()

         Date  AveragePrice  Total Volume  year  region
0  2015-12-27          1.33      64236.62  2015  Albany
1  2015-12-20          1.35      54876.98  2015  Albany
2  2015-12-13          0.93     118220.22  2015  Albany
3  2015-12-06          1.08      78992.15  2015  Albany
4  2015-11-29          1.28      51039.60  2015  Albany

In [49]:
df_avocado['HighPrice'] = df_avocado['AveragePrice'].apply(lambda avg_price: avg_price>1)
df_avocado.head()

         Date  AveragePrice  Total Volume  year  region  HighPrice
0  2015-12-27          1.33      64236.62  2015  Albany       True
1  2015-12-20          1.35      54876.98  2015  Albany       True
2  2015-12-13          0.93     118220.22  2015  Albany      False
3  2015-12-06          1.08      78992.15  2015  Albany       True
4  2015-11-29          1.28      51039.60  2015  Albany       True

In [50]:
df_avocado.to_excel('./dados/ex2.xlsx', index=None)

---
3) Dada a base feita do exercício anterior, precisamos agora responder o seguinte:  
  
    a) Qual é a média do preço médio (AveragePrice) por ano?  
    b) Qual é a média do preço médio (AveragePrice) por ano para cada região (region)?

In [54]:
df_avocado.groupby(by=['year'])['AveragePrice'].mean()

year
2015    1.375590
2016    1.338640
2017    1.515128
2018    1.347531
Name: AveragePrice, dtype: float64

In [57]:
df_avocado.groupby(by=['region','year'])['AveragePrice'].mean()

region            year
Albany            2015    1.538750
                  2016    1.533942
                  2017    1.637830
                  2018    1.435833
Atlanta           2015    1.380577
                            ...
West              2018    1.297083
WestTexNewMexico  2015    1.259320
                  2016    1.246635
                  2017    1.281538
                  2018    1.251250
Name: AveragePrice, Length: 216, dtype: float64

---

4) Você não tem processamento o suficiente para processar a base (base completa gerada no primeiro exercício) toda e precisa lê-la em chunks:   
  
    a) Leia a base por chunks (com chunksize=1000) e faça o processamento do exercício 3.  
    b) Guarde cada iteração dos chunks em um DataFrame e faça o processamento do exercício 3 de novo.

In [63]:
df_avocado.to_csv('./dados/ex2.csv', index=None)
df_ = pd.read_csv('./dados/ex2.csv', chunksize=1000)
for index, df in enumerate(df_):

    price_mean_per_year = df.groupby(by=['year'])['AveragePrice'].mean()
    print(f'result {index}: \n{price_mean_per_year} \n')

result 0:
year
2015    1.07972
Name: AveragePrice, dtype: float64

result 1:
year
2015    1.08203
Name: AveragePrice, dtype: float64

result 2:
year
2015    1.070755
2016    1.162396
Name: AveragePrice, dtype: float64

result 3:
year
2016    1.10456
Name: AveragePrice, dtype: float64

result 4:
year
2016    1.1266
Name: AveragePrice, dtype: float64

result 5:
year
2016    1.055471
2017    1.385052
Name: AveragePrice, dtype: float64

result 6:
year
2017    1.2802
Name: AveragePrice, dtype: float64

result 7:
year
2017    1.31141
Name: AveragePrice, dtype: float64

result 8:
year
2017    1.218619
2018    1.136609
Name: AveragePrice, dtype: float64

result 9:
year
2015    1.649394
2018    1.091746
Name: AveragePrice, dtype: float64

result 10:
year
2015    1.70895
Name: AveragePrice, dtype: float64

result 11:
year
2015    1.657556
2016    1.685970
Name: AveragePrice, dtype: float64

result 12:
year
2016    1.53338
Name: AveragePrice, dtype: float64

result 13:
year
2016    1.57728
Name: AveragePrice, dtype: float64

result 14:
year
2016    1.605493
2017    1.765019
Name: AveragePrice, dtype: float64

result 15:
year
2017    1.66836
Name: AveragePrice, dtype: float64

result 16:
year
2017    1.78389
Name: AveragePrice, dtype: float64

result 17:
year
2017    1.754077
2018    1.550952
Name: AveragePrice, dtype: float64

result 18:
year
2018    1.593173
Name: AveragePrice, dtype: float64