In [4]:
import pandas as pd

# <span style='color:DodgerBlue'>Ex 1</span>

O arquivo avocado.csv consiste em um dataset que contém dados sobre vendas de abacates (avocado, em inglês) em diversas regiões dos Estados Unidos. Essa dataset contém as seguintes colunas:  

Date - a data da observação  
AveragePrice - o preço médio de um único abacate  
year - o ano  
region - a cidade ou região da observação  
Total Volume - volume total de abacates vendidos  
Além das informações acima, contidas no arquivo avocado.csv, o tipo do abacate (convencional ou orgânico) também seria uma informação importante para a sua análise. Suponhamos que você conseguiu essas informações para cada uma das observações do arquivo avocado.csv, na mesma ordem, e salvou-as no arquivo avocado_type.csv. Portanto, tudo o que você precisa é juntar esses dois arquivos em um mesmo DataFrame. E, em seguida, salve-o em um arquivo csv.  

PS. Caso queira criar uma Series com os dados aleatórios para o tipo de abacate, utilize o código abaixo:  

tipos = pd.Series(np.random.randint(0, 2, df_avocado.shape[0]))  
tipos = tipos.map({0: 'convencional', 1:'orgânico'})

In [3]:
df = pd.read_csv('dataset/avocado.csv')

In [15]:
df['Type'] = pd.read_csv('dataset/avocado_type.csv')

df.head()

         Date  AveragePrice  Total Volume  year  region          Type
0  2015-12-27          1.33      64236.62  2015  Albany  conventional
1  2015-12-20          1.35      54876.98  2015  Albany  conventional
2  2015-12-13          0.93     118220.22  2015  Albany  conventional
3  2015-12-06          1.08      78992.15  2015  Albany  conventional
4  2015-11-29          1.28      51039.60  2015  Albany  conventional

In [16]:
df.to_csv('dataset/avocado_with_type.csv', index=False)

# <span style='color:DodgerBlue'>Ex 2</span>

Carregue o arquivo csv que você salvou na questão anterior e, em seguida, obtenha o que é solicitado nos itens elencados abaixo:  

(a) A quantidade de abacates do tipo convecional e do tipo orgânico.  
(b) A quantidade de registros (linhas) de abacates vendidos para cada região.  
(c) Para que todos os labels das colunas fiquem padronizados, renomeie aqueles que estão iniciando em letra minúscula para que iniciem em letra maiúscula.  
(d) Uma vez que você já possui uma coluna com a data, remova a coluna que apresenta o ano.

In [64]:
df = pd.read_csv('dataset/avocado_with_type.csv')

print(f'Quantidade de acabates tipo convencional: {df[df["Type"]=="conventional"].shape[0]}')
print(f'Quantidade de acabates tipo convencional: {df[df["Type"]=="organic"].shape[0]}')
print(f'Quantidade de registro de abacates venvidos para cada região:\n{df.groupby(by=["region"])["region"].count()}')
# capitalizing columns names
df.columns = [column.capitalize() for column in df.columns]
# removing Year column
df.drop('Year', axis=1, inplace=True)

Quantidade de acabates tipo convencional: 9126
Quantidade de acabates tipo convencional: 9123
Quantidade de registro de abacates venvidos para cada região:
region
Albany                 338
Atlanta                338
BaltimoreWashington    338
Boise                  338
Boston                 338
BuffaloRochester       338
California             338
Charlotte              338
Chicago                338
CincinnatiDayton       338
Columbus               338
DallasFtWorth          338
Denver                 338
Detroit                338
GrandRapids            338
GreatLakes             338
HarrisburgScranton     338
HartfordSpringfield    338
Houston                338
Indianapolis           338
Jacksonville           338
LasVegas               338
LosAngeles             338
Louisville             338
MiamiFtLauderdale      338
Midsouth               338
Nashville              338
NewOrleansMobile       338
NewYork                338
Northeast              338
NorthernNewEngland     338
Orlando                338
Philadelphia           338
PhoenixTucson          338
Pittsburgh             338
Plains                 338
Portland               338
RaleighGreensboro      338
RichmondNorfolk        338
Roanoke                338
Sacramento             338
SanDiego               338
SanFrancisco           338
Seattle                338
SouthCarolina          338
SouthCentral           338
Southeast              338
Spokane                338
StLouis                338
Syracuse               338
Tampa                  338
TotalUS                338
West                   338
WestTexNewMexico       335
Name: region, dtype: int64

# <span style='color:DodgerBlue'>Ex 3</span>

Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na questão Q1, agrupe os dados do DF pelo tipo do abacate e, em seguida, obtenha:  
 
(a) A volume total de abacates vendidos para cada tipo.  
(b) O preço médio dos abacates vendidos para cada tipo.

In [89]:
df = pd.read_csv('dataset/avocado_with_type.csv')
print(f"Conventional avocado total volume sale: {df.groupby(by=['Type']).sum()['Total Volume']['conventional']}")
print(f"Organic avocado total volume sale: {df.groupby(by=['Type']).sum()['Total Volume']['organic']}")
print(f"Average price for conventional avocado: {round(df.groupby(by=['Type']).mean()['AveragePrice']['conventional'],2)}")
print(f"Average price for organic avocado: {round(df.groupby(by=['Type']).mean()['AveragePrice']['organic'],2)}")

Conventional avocado total volume sale: 15087220911.309977
Organic avocado total volume sale: 436181682.09000045
Average price for conventional avocado: 1.16
Average price for organic avocado: 1.65

# <span style='color:DodgerBlue'>Ex 4</span>

O arquivo googleplaystore.csv é um dataset que contém diversas informações sobre aplicativos disponíveis para download na Google Play Store.   
Você deve utilizar esse dataset para fazer o mesmo que foi solicitado na questão anterior. Ou seja, carregue-o em um objeto DataFrame e verifique os dados contidos nas colunas desse DF. Logo após, verifique se existem dados duplicados e/ou ausentes nesse dataset.  

Caso existam dados duplicados, remova-os. Caso existam dados ausentes, você pode removê-los ou pensar em alguma maneira de preenchê-los.

In [314]:
df = pd.read_csv('./dataset/googleplaystore.csv')
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [315]:
print(f'Duplicated lines: {df.duplicated().sum()}\n')

Duplicated lines: 483

In [316]:
print("Removing duplicated lines...")
df.drop_duplicates(inplace=True)
print(f'Duplicated lines: {df.duplicated().sum()}\n')
df.reset_index(drop=True ,inplace=True)

Removing duplicated lines...
Duplicated lines: 0

In [317]:
print(f'NA values:\n{df.isna().sum()}\n')

NA values:
App                  0
Category             0
Rating            1465
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

## Type

In [318]:
print(f"Checking Type values:\n{df['Type'].value_counts()}")
print(f"Checking outliers in the row where Type = '0':")
df[df['Type']=='0']

Checking Type values:
Free    9591
Paid     765
0          1
Name: Type, dtype: int64
Checking outliers in the row where Type = '0':

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9990,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [319]:
# this row looks like Category info was removed and all the subsequent values were shifted to the left
# adjusting this row by shifting values:
df.loc[9990] = df.loc[9990].shift(1)
# restore App value
df.iloc[9990,0] = df.iloc[9990,1]
# Add NA do Category value
df.iloc[9990,1] = None
df.iloc[9990]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                             None
Rating                                                1.9
Reviews                                              19.0
Size                                                 3.0M
Installs                                           1,000+
Type                                                 Free
Price                                                   0
Content Rating                                   Everyone
Genres                                                NaN
Last Updated                            February 11, 2018
Current Ver                                        1.0.19
Android Ver                                    4.0 and up
Name: 9990, dtype: object

In [320]:
df[df['Type'].isna()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
8667,Command & Conquer: Rivals,FAMILY,NaN,0,Varies with device,0,NaN,0,Everyone 10+,Strategy,"June 28, 2018",Varies with device,Varies with device

In [321]:
print(f"Number of Apss games: {df['Type'].value_counts()['Free']}")
print(f"Number of Apps with Price = 0: {df['Price'].value_counts()['0']}")
# set the Type to 'Free'
df.loc[8667]['Type'] = 'Free'
df.loc[8667]

Number of Apss games: 9592
Number of Apps with Price = 0: 9593

App               Command & Conquer: Rivals
Category                             FAMILY
Rating                                  NaN
Reviews                                   0
Size                     Varies with device
Installs                                  0
Type                                   Free
Price                                     0
Content Rating                 Everyone 10+
Genres                             Strategy
Last Updated                  June 28, 2018
Current Ver              Varies with device
Android Ver              Varies with device
Name: 8667, dtype: object

## Content Rating

In [322]:
# Content reading NA values was from previous error, now the NA shift to Genres column
print(f'NA values:\n{df.isna().sum()}\n')

NA values:
App                  0
Category             1
Rating            1465
Reviews              0
Size                 0
Installs             0
Type                 0
Price                0
Content Rating       0
Genres               1
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

## Genres

In [323]:
print(f"Checking Genres values:\n{df['Genres'].value_counts()}")
count = df['Genres'].value_counts()
count[count==1]

Checking Genres values:
Tools                          842
Entertainment                  588
Education                      527
Business                       427
Medical                        408
                              ...
Music & Audio;Music & Video      1
Role Playing;Education           1
Puzzle;Education                 1
Role Playing;Brain Games         1
Communication;Creativity         1
Name: Genres, Length: 119, dtype: int64

Parenting;Brain Games                  1
Strategy;Creativity                    1
Lifestyle;Pretend Play                 1
Trivia;Education                       1
Health & Fitness;Education             1
Entertainment;Education                1
Adventure;Brain Games                  1
Books & Reference;Creativity           1
Lifestyle;Education                    1
Casual;Music & Video                   1
Health & Fitness;Action & Adventure    1
Racing;Pretend Play                    1
Travel & Local;Action & Adventure      1
Comics;Creativity                      1
Board;Pretend Play                     1
Strategy;Education                     1
Tools;Education                        1
Card;Brain Games                       1
Arcade;Pretend Play                    1
Music & Audio;Music & Video            1
Role Playing;Education                 1
Puzzle;Education                       1
Role Playing;Brain Games               1
Communication;Creativity               1
Name: Genres, dtype: int64

In [324]:
# value will be added to Tools since is a generic category
df.loc[9990]['Genres'] = 'Tools'
df.loc[9990]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                             None
Rating                                                1.9
Reviews                                              19.0
Size                                                 3.0M
Installs                                           1,000+
Type                                                 Free
Price                                                   0
Content Rating                                   Everyone
Genres                                              Tools
Last Updated                            February 11, 2018
Current Ver                                        1.0.19
Android Ver                                    4.0 and up
Name: 9990, dtype: object

## Current Ver

In [325]:
df['Current Ver'].value_counts()

Varies with device    1302
1.0                    802
1.1                    260
1.2                    177
2.0                    149
                      ...
3.28.1.3.1359            1
1.91                     1
4.0.0.427                1
2018.04.02.00            1
8.2.0_8                  1
Name: Current Ver, Length: 2831, dtype: int64

In [326]:
df[df['Current Ver'].isna()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
15,Learn To Draw Kawaii Characters,ART_AND_DESIGN,3.2,55,2.7M,"5,000+",Free,0,Everyone,Art & Design,"June 6, 2018",NaN,4.2 and up
1354,Market Update Helper,LIBRARIES_AND_DEMO,4.1,20145,11k,"1,000,000+",Free,0,Everyone,Libraries & Demo,"February 12, 2013",NaN,1.5 and up
5863,Virtual DJ Sound Mixer,TOOLS,4.2,4010,8.7M,"500,000+",Free,0,Everyone,Tools,"May 10, 2017",NaN,4.0 and up
6337,BT Master,FAMILY,NaN,0,222k,100+,Free,0,Everyone,Education,"November 6, 2016",NaN,1.6 and up
6864,Dots puzzle,FAMILY,4.0,179,14M,"50,000+",Paid,$0.99,Everyone,Puzzle,"April 18, 2018",NaN,4.0 and up
6938,Calculate My IQ,FAMILY,NaN,44,7.2M,"10,000+",Free,0,Everyone,Entertainment,"April 3, 2017",NaN,2.3 and up
7260,UFO-CQ,TOOLS,NaN,1,237k,10+,Paid,$0.99,Everyone,Tools,"July 4, 2016",NaN,2.0 and up
9860,La Fe de Jesus,BOOKS_AND_REFERENCE,NaN,8,658k,"1,000+",Free,0,Everyone,Books & Reference,"January 31, 2017",NaN,3.0 and up

In [327]:
# add 1.0 to Current Ver
df['Current Ver'].fillna(1.0,inplace=True)

## Android Ver

In [328]:
df['Android Ver'].value_counts()

4.1 and up            2379
4.0.3 and up          1451
4.0 and up            1338
Varies with device    1221
4.4 and up             894
2.3 and up             643
5.0 and up             546
4.2 and up             387
2.3.3 and up           279
2.2 and up             239
3.0 and up             237
4.3 and up             235
2.1 and up             133
1.6 and up             116
6.0 and up              58
7.0 and up              42
3.2 and up              36
2.0 and up              32
5.1 and up              22
1.5 and up              20
4.4W and up             11
3.1 and up              10
2.0.1 and up             7
8.0 and up               6
7.1 and up               3
1.0 and up               2
4.0.3 - 7.1.1            2
5.0 - 8.0                2
4.1 - 7.1.1              1
7.0 - 7.1.1              1
5.0 - 6.0                1
5.0 - 7.1.1              1
2.2 - 7.1.1              1
Name: Android Ver, dtype: int64

In [329]:
df[df['Android Ver'].isna()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
3998,[substratum] Vacuum: P,PERSONALIZATION,4.4,230,11M,"1,000+",Paid,$1.49,Everyone,Personalization,"July 20, 2018",4.4,NaN
4035,Pi Dark [substratum],PERSONALIZATION,4.5,189,2.1M,"10,000+",Free,0,Everyone,Personalization,"March 27, 2018",1.1,NaN

In [330]:
# summary of Android version by Last  Updated
print(df[df['Last Updated']=='July 20, 2018']['Android Ver'].sort_values().value_counts()[:3])
print(df[df['Last Updated']=='March 27, 2018']['Android Ver'].sort_values().value_counts()[:3])

4.1 and up            19
Varies with device    15
4.0.3 and up          13
Name: Android Ver, dtype: int64
4.0.3 and up    4
4.1 and up      3
4.0 and up      2
Name: Android Ver, dtype: int64

In [331]:
# set values by the most common Android version
df.loc[3998]['Android Ver'] = str(df[df['Last Updated']=='July 20, 2018']['Android Ver'].sort_values().value_counts().index[0])
df.loc[4035]['Android Ver'] = str(df[df['Last Updated']=='March 27, 2018']['Android Ver'].sort_values().value_counts().index[0])

# <span style='color:DodgerBlue'>Ex 5</span>

O arquivo houses_to_rent.csv consiste em um dataset que contém dados sobre casas para alugar no Brasil.  
Carregue-o em um objeto DataFrame e verifique os dados contidos nas colunas desse DF (você pode utilizar os métodos head, tail e info). Logo após, verifique se existem dados duplicados e/ou ausentes nesse dataset.  

Caso existam dados duplicados, remova-os. Caso existam dados ausentes, você pode removê-los ou pensar em alguma maneira de preenchê-los.

In [332]:
df = pd.read_csv('./dataset/houses_to_rent.csv')
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

In [333]:
# data without NA values
df.isna().sum()

city                   0
area                   0
rooms                  0
bathroom               0
parking spaces         0
floor                  0
animal                 0
furniture              0
hoa (R$)               0
rent amount (R$)       0
property tax (R$)      0
fire insurance (R$)    0
total (R$)             0
dtype: int64

In [334]:
print(f'Duplicated rows: {df.duplicated().sum()}')

df.drop_duplicates(inplace=True)

Duplicated rows: 358